<div class="flex flex-row w-screen h-screen bg-grey-200 overflow-auto">
    <div class="sticky top-0 h-full p-4">
        <app-sidebar class="h-auto"></app-sidebar>
    </div>

    <div class="flex flex-row bg-grey-200 w-5/6 p-6 h-full">
        <div class="w-3/4 h-full">
            <app-header title="Dashboard"></app-header>
            <main class="flex w-full">
                <div class="mx-auto px-4 sm:px-6 md:px-8">
                    <div class="w-full h-full">

                    </div>
                </div>
            </main>
        </div>
        <div class="w-1/4 h-full">
            <!-- <app-notification-bar></app-notification-bar> -->
        </div>
    </div>
</div>