<div class="flex flex-row w-screen h-screen bg-grey-200 overflow-auto">
    <div class="sticky top-0 h-full p-4">
        <app-sidebar class="h-auto"></app-sidebar>
    </div>

    <div class="flex flex-row bg-grey-200 w-5/6 p-6 h-full">
        <div class="w-full h-full">
            <app-header title="Mnemonic"></app-header>
            <main class="flex flex-col w-full">
                <ng-template [ngIf]="new" [ngIfElse]="old">
                    <h2 class="m-6 text-center text-3xl font-extrabold text-gray-900">
                        Create your account
                    </h2>
                    <div class="max-w-7xl mx-auto px-4">
                        <form #newForm="ngForm" (ngSubmit)="newAccount(newForm)" novalidate>
                            <div>
                                <div>
                                    <label for="pwd" class="font-semibold text-xl text-gray-700">Password</label>
                                    <div class="mt-2 h-16 w-96">
                                        <input type="password" name="pwd" id="pwd" class="h-full w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-2xl p-4" placeholder="**********" ngModel />
                                    </div>
                                    <label for="pwdc" class="font-semibold text-xl text-gray-700">Confirm Password</label>
                                    <div class="mt-2 h-16 w-96">
                                        <input type="password" name="pwdc" id="pwdc" class="h-full w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-2xl p-4" placeholder="**********" ngModel />
                                    </div>
                                </div>
                            </div>
                            <div class="mt-8 h-16 w-96">
                                <button type="submit" class="flex flex-row justify-center items-center h-16 w-96 rounded-3xl text-white font-bold bg-indigo-500">
                                    Create
                                </button>
                            </div>
                        </form>
                    </div>
                </ng-template>

                <ng-template #old>
                    <h2 class="m-6 text-center text-3xl font-extrabold text-gray-900">
                        Sign in to your account
                    </h2>
                    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                        <form #oldForm="ngForm" (ngSubmit)="oldAccount(oldForm)" novalidate>
                            <div class="">
                                <label for="mnemonic" class="font-semibold text-xl text-gray-700 sm:mt-px sm:pt-2">
                                    Enter your 12 word secret key
                                </label>
                                <div class="mt-1 sm:mt-0 sm:col-span-2">
                                    <textarea id="mnemonic" name="mnemonic" rows="2" class="mt-2 h-16 w-96 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-2xl p-4" style="resize: none" ngModel></textarea>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="pwd" class="font-semibold text-xl text-gray-700">Password</label>
                                    <div class="mt-2 h-16 w-96">
                                        <input type="password" name="pwd" id="pwd" class="h-full w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-2xl p-4" placeholder="**********" ngModel>
                                    </div>
                                    <label for="pwdc" class="font-semibold text-xl text-gray-700">Confirm Password</label>
                                    <div class="mt-2 h-16 w-96">
                                        <input type="password" name="pwdc" id="pwdc" class="h-full w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-2xl p-4" placeholder="**********" ngModel>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="mt-8 flex flex-row justify-center items-center h-16 w-96 rounded-3xl text-white font-bold bg-indigo-500">
                                        Sign In
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>

                <!-- <div class="mx-auto px-4 sm:px-6 md:px-8">
                    <div class="w-full h-full">
                        <div class="flex flex-col m-6 items-center justify-center">
                            <h1 class="text-4xl text-center font-extrabold text-gray-900  m-6 p-6">
                                Please note your mnemonic
                            </h1>
                            <h2 class="text-3xl text-center font-bold text-gray-900  m-6 p-6">
                                {{mnemonic}}
                            </h2>
                        </div>
                    </div>
                </div> -->
            </main>
        </div>
    </div>
</div>